# Database Configuration
DATABASE_URL=

# Application Settings
DEBUG=True
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

ENVIRONMENT=
ACCESS_TOKEN_COOKIE_NAME=""
REFRESH_TOKEN_COOKIE_NAME=""
COOKIE_DOMAIN=
COOKIE_SECURE=False
COOKIE_SAMESITE="lax"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

FRONTEND_URL=